:root {
  --background-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --font-color: #272142;
  --Playfair-display-font: "Playfair Display", serif;
  --poppins-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Playfair-display-font);
  font-weight: bold;
}
h2 {
  font-size: 64px;
}
p {
  color: var(--font-color);
  font-family: var(--poppins-font);
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--background-color);
  padding: 160px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 96px;
}
.hero h3 {
  margin: 0;
  font-family: var(--poppins-font);
  font-size: 36px;
  font-weight: bold;
  color: var(--font-color);
}
.hero p {
  color: var(--font-color);
  font-family: var(--poppins-font);
  font-weight: normal;
}
.hero a {
  color: white;
  font-family: var(--poppins-font);
  font-weight: medium;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 20px;
}

.hero a:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all ease-in 100ms;
}
.btn-purple {
  color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 24px;
  padding: 13px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}
.project-description {
  padding: 160px 20px;
}
img {
  width: 600px;
  height: auto;
}

@media (max-width: 640px) {
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 90px 10px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero a {
    padding: 9px 20px;
    margin-top: 10px;
  }
  .btn-purple {
    padding: 7.5px 10px;
  }
}
