:root {
  --background-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --font-color: #272142;
  --Playfair-display-font: "Playfair Display", serif;
  --poppins-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Playfair-display-font);
  font-weight: bold;
}
h2 {
  font-size: 64px;
}
p {
  color: var(--font-color);
  font-family: var(--poppins-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
img {
  width: 600px;
  height: auto;
}

.hero {
  background-color: var(--background-color);
  height: 450px;

  text-align: center;
}
.hero h1 {
  font-size: 96px;
}
.hero h3 {
  margin: 0;
  font-family: var(--poppins-font);
  font-size: 36px;
  font-weight: bold;
  color: var(--font-color);
}
.hero p {
  color: var(--font-color);
  font-family: var(--poppins-font);
  font-weight: normal;
}
.hero a {
  color: white;
  font-family: var(--poppins-font);
  font-weight: medium;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 20px;
}

.hero a:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all ease-in 100ms;
}
.btn-purple {
  color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 24px;
  padding: 13px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}
.btn-purple:hover {
  color: white;
  background-color: var(--secondary-color);
}
.project-description {
  padding: 160px 20px;
}
.inquiry {
  background-color: var(--background-color);
  width: 1360px;
  height: 200px;
  padding: 20px 40px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
.inquiry h2 {
  font-size: 48px;
  margin: 24px;
}
.inquiry a {
  color: white;
  font-family: var(--poppins-font);
  font-weight: medium;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 46px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 40px;
}
.inquiry a:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all ease-in 100ms;
}
.margin {
  margin: 0 40px;
}

.btn-branding-about {
  color: white;
  background-color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 24px;
  padding: 13px 20px;
  border-radius: 4px;
}
.btn-branding-about:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: all ease-in 100ms;
}
.caption {
  margin: 40px 40px;
}
.caption h1 {
  font-size: 64px;
}
.caption img {
  width: 500px;
  height: auto;
  border-radius: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
}
.logo {
  width: 150px;
  height: 42px;
  margin-left: 64px;
}
.display h4 {
  font-family: var(--poppins-font);
  font-weight: bold;
  font-size: 24px;
}
.display h1 {
  font-size: 64px;
  line-height: 90px;
  text-align: start;
}
.display {
  text-align: center;
  margin: -20px 100px;
}
.contact h1 {
  font-size: 64px;
  line-height: 90px;
  margin: 10px 100px;
}

.purple-navbar {
  background-color: var(--background-color);
}

.navbar a {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: medium;
  text-decoration: none;
  margin: 50px 40px;
}
.navbar a:hover {
  color: var(--secondary-color);
  transition: all ease-in-out 100ms;
}
.current-tab {
  color: var(--secondary-color);
  font-weight: bold;
}
.other-tab {
  color: var(--font-color);
}
footer h3 {
  font-family: var(--poppins-font);
  font-weight: medium;
  font-size: 24px;
}
.fa-github,
.fa-facebook,
.fa-instagram {
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-size: 40px;
  border-radius: 50%;
}
@media (max-width: 640px) {
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 90px 10px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero a {
    padding: 9px 20px;
    margin-top: 10px;
  }
  .btn-purple {
    padding: 7.5px 10px;
  }

  p {
    padding: 0 10px;
  }
  .margin-left {
    margin-left: 0px;
    margin-top: -30px;
  }

  .caption h1 {
    font-size: 34px;
    text-align: center;
    padding: 0;
    margin: 0px;
    width: 300px;
  }
  .caption p {
    text-align: center;
    margin-right: 24px;
  }
  .btn-branding-about {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 20px;
    border-radius: 4px;

    margin-bottom: 30px;
  }

  .caption img {
    width: 360px;
    height: auto;
    border-radius: 30px;
    margin: 0 24px auto;
    display: block;
  }
  .display h1 {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    padding: 0;
  }
  .display img {
    width: 360px;
    height: 240px;
  }

  .fa-github,
  .fa-facebook,
  .fa-instagram {
    font-size: 25px;
    margin: 0 20px;
  }
  footer h3 {
    font-size: 18px;
  }
  .inquiry {
    width: 90%;
    height: auto;
    padding: 20px 40px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
  }
  .inquiry h2 {
    font-size: 22px;
    margin: 18px 0px;
    margin-right: 20px;
  }
  .inquiry a {
    font-size: 14px;
    line-height: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    margin: 14px 0;
  }
  .logo {
    width: 80px;
    height: auto;
    margin-left: 24px;
  }
  .navbar a {
    font-size: 12px;
    font-weight: medium;
    text-decoration: none;
    margin: 20px 9px;
  }

  .contact h1 {
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    margin: -10px 0 -20px;
  }
}
